<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-1">
      <h1><%= @bike.brand_model.brand.name %> | <%= @bike.brand_model.name %></h1>
      <%= cl_image_tag @bike.photo.path, width: 800, crop: :fit if @bike.photo %> <br>
      Color: <%= @bike.color %> <br>
      Electric: <%= @bike.electric ? "yes" : "no" %> <br>
      Daily rental price: <%# @bike.daily_price_in_cents / 100 %> DKK <br>
      <%= @bike.description %> <br>
      Pick-up address: <%= @bike.address %> [XXX ultimately replaced by a map XXX]<br>
      <% if @bike.user.name %>
      Owner: <%= @bike.user.name %> <br>
      <% end %>
      <% if @bike.user.phone_number %>
      Owner phone number: <%= @bike.user.phone_number %> <br><br>
      <% end %>

      <%= link_to "Back to home", bikes_path %> <br><br>

    <div id="map" style="width: 100%; height: 600px;"></div>

    </div>
    <div class="col-xs-2 col-xs-offset-1">
      <%= simple_form_for [@bike, @booking] do |f| %>
        <%= f.input :start_date, as: :string, input_html: { class: 'datepicker' } %>
        <%= f.input :end_date, as: :string, input_html: { class: 'datepicker' } %>
        <%= f.submit "Add", class: "btn btn-success"%>
      <% end %>
    </div>


  </div>
</div>





<% content_for(:after_js) do  %>
  <script>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @mapped_bike.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  </script>
<% end %>
